body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #741a1d;
    color: white;
    padding: 1em 0;
}

#logo img {
    width: 100pxx;
    height: 100px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

header h1 {
    margin: 0;
}

header div h1 {
    margin-right: 400px; /* Movimenta o Titulo do Site */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

.cart {
    display: flex;
    align-items: center;
}

.cart img {
    width: 24px;
    height: 24px;
}

#cart-count {
    background-color: #ffd700;
    color: #741a1d;
    border-radius: 50%;
    padding: 0.2em 0.6em;
    margin-right: 0.5em;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 2em auto;
    padding: 0 1em;
}

.section1 {
    background-color: white;
    margin-bottom: 2em;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* imagem de fundo do banner */
    border-radius: 10px 10px 0 0; /* bordas arredondadas */
}

.section {
    background-color: white;
    margin-bottom: 2em;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #741a1d;
}

.section h2 {
    color: #741a1d;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.product {
    flex: 1 1 calc(33.333% - 2em);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    color: #741a1d;
}

.product button {
    background-color: #741a1d;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #741a1d;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

@media (max-width: 768px) {
    .product {
        flex: 1 1 calc(50% - 2em);
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 0.5em 0;
    }
    .product {
        flex: 1 1 100%;
    }
}

footer {
    background-color: #333; /* background escuro para o rodapé */
}

footer div a {
    color: white;
    margin: 4px;
}